@model Trash_Collector.Models.Customer

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
		<dl class="row">
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.FirstName)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.FirstName)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.LastName)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.LastName)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.PickupDay)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.PickupDay)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.Address.PostalCode)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.Address.PostalCode)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.ExtraPickUpDay)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.ExtraPickUpDay)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.SuspendServiceStartDate)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.SuspendServiceStartDate)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.SuspendServiceEndDate)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.SuspendServiceEndDate)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.BalanceDue)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.BalanceDue)
			</dd>
			<dt class="col-sm-2">
				@Html.DisplayNameFor(model => model.trashPickupStatus)
			</dt>
			<dd class="col-sm-10">
				@Html.DisplayFor(model => model.trashPickupStatus)
			</dd>
		</dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
